<h1>HELLO FROM index.ejs</h1>

<% posts.forEach(post => { %>
    <div>
        <h2><a href="/posts/<%= post._id %>"><%= post.title %></a></h2>
        <img src="<%= post.image %>" alt="post image">
        <span><%= post.created %></span>    
    </div>
<% }) %>
<a href="/posts/new">Create new Post</a>
