<h1>HELLO FROM show.ejs</h1>

<div>
    <h2><%= post.title %></a></h2>
    <img src="<%= post.image %>" alt="post image">
    <p><%= post.body %></p>
</div>

<p><a href="/posts/<%= post._id %>/edit">Edit Post</a>
<button>Delete Post</button>
</p>
<p><a href="/posts">Go back</a></p>
