<h1>HELLO FROM show.ejs</h1>

<div class="col-md-3 col-sm-6">
    <h2><%= post.name %></a></h2>
    <p><%= post.description %></p>
</div>

<p><a href="/posts/<%= post._id %>/edit">Edit Post</a>
<button>Delete Post</button>
</p>
<p><a href="/posts">Go back</a></p>
